body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #67392F;
    color: #fff;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.clouds {
    background-image: url('img/clouds.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sky {
    background-color: #5BB2CE;
    /* Height = viewport height - logo height - height  */
    /* height: calc(100vh - 241.5px - 6vw - 115px); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    flex-grow: 1;
}

.grass {
    background-image: url('img/grass.png');
    background-repeat: repeat;
    background-position: top;
    height: 115px;
    width: 100%;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    /* max-height: 528px;
    max-width: 241.5px;
    height: auto;
    width: auto; */
    object-fit: contain;
    width: 528px;
    height: 241.5px;
    max-width: 90vw;
    max-height: 50vw;
    padding: 3vw;
    filter: drop-shadow(5px 5px 5px #333);
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
}

.snake {
    object-fit: contain;
    width: 30vw;
    align-self: center; /* this ensures proper sizing on Safari */
    padding: 25px;
    filter: drop-shadow(2px 2px 2px #333);
}

.app-store-icon {
    object-fit: contain;
    max-width: 80%;
    width: 175px;
    margin-top: 20px;
}

.footer {
    margin: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #eaeaea;
}

.footer a, .footer a:hover {
    text-decoration: underline;
}

.cta-container {
    font-weight: 600;
    font-size: 2rem;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.text {
    width: 80%;
    margin: 2rem 0;
}

.text-inner {
    font-size: 1.25rem;
    line-height: 1.4em;
}

.text a {
    text-decoration: underline;
    font-weight: 600;
}

.preview {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.preview .sky {
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}



@media screen and (max-width: 800px) {
    .bottom-row {
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        flex-grow: 1;
    }

    .cta-container {
        text-align: center;
    }

    .sky {
        flex-direction: column;
        align-content: flex-start;
    }
}